@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  /* Primary Colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);

  --primary-font: 'Big Shoulders Display', cursive;
  --secondary-font: 'Lexend Deca', sans-serif;
}

body {
  font-size: 15px;
  margin: 2em 0;
}

.cards-container {
  display: flex;
  width: 80%;
  height: 95%;
  margin: 0em auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 3em 2em 3em;
  gap: 2em;
  width: 95%;
  box-sizing: border-box;
}

.card__image {
  max-width: 30%;
}

.card__title {
  font-weight: 700;
  font-family: var(--primary-font);
  font-size: 3em;
  color: var(--very-light-gray);
  text-transform: uppercase;
}

.card__text {
  font-family: var(--secondary-font);
  color: var(--transparent-white);
  line-height: 1.8em;
  text-align: left;
  margin-bottom: 2em;
}

.sedan,
.sedan a {
  background-color: var(--bright-orange);
  color: var(--bright-orange);
  border-radius: 1em 1em 0em 0em;
}

.suv,
.suv a {
  background-color: var(--dark-cyan);
  color: var(--dark-cyan);
}

.luxury,
.luxury a {
  background-color: var(--very-dark-cyan);
  color: var(--very-dark-cyan);
  border-radius: 0em 0em 1em 1em;
}

.card .card__button {
  text-decoration: none;
  background-color: var(--very-light-gray);
  padding: 1em 1em;
  width: 9em;
  font-family: var(--secondary-font);
  border-radius: 4em;
  text-align: center;
}

@media (min-width: 426px) {
  .card {
    max-width: 350px;
  }
}

@media (min-width: 875px) {
  .sedan {
    border-radius: 1em 0 0 1em;
  }

  .suv {
    border-radius: 0 1em 1em 0;
  }
}

@media (min-width: 1313px) {
  .suv {
    border-radius: 0;
  }

  .luxury {
    border-radius: 0 1em 1em 0;
  }
}
